* {
	margin: 0;
	padding: 0;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.logo img{
	position: fixed;
	z-index: 9999;
	left: 10px;
	top: 10px;
	max-width: 50%;
}